body > #root > .main-area > .container {
    padding: 60px 15px 0;
}
  
.footer > .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

.content-top-padding {
    padding-top: 60px;
}